#symbol{
    height: 150px;
    margin-bottom: 15px;
}
.QueEs{
    margin: 40px;
}
.Argumento{
    margin: 40px;
}
.Sagas{
    margin: 40px;
}
h2{
    margin: 20px;
}
h3{
    margin: 30px;
}
.Img_Right{
    float: right;
    width: 200px;
}
.Img_Left{
    margin-right: 10px;
    float: left;
    width: 200px;
    height: 140px;
}
body {
    margin: 10px;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #666;
    background: #f2f2f2;
    background-image: url("https://i.pinimg.com/564x/84/d6/ae/84d6aeeff76ddba0d8b86cfc9c989fe7.jpg");
}
h1 {
    font-size: 2.3em;
    line-height: 1.3em;
    margin: 15px 0;
    text-align: center;
    font-weight: 300;
}
#main-header {
    background: #333;
    color: white;
    height: 90px;
}
#main-header a {
    color: white;
}
#logo {
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
}
#logo:hover {
    color: #0b76a6;
}

#logo.site-name {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
}

#logo.site-desc {
    display: block;
    font-weight: 300;
    font-size: 0.8em;
    color: #999;
}
nav {
    float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
}

nav ul li a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
}

nav ul li a:hover {
    background: #0b76a6;
}
#content {
    background: white;
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

#content header,
#content .content {
    padding: 40px;
}