.Animes img{
    width: 150px;
}
.Animes{
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.capçalera{
    border: double;
    margin-bottom: 50px;
}
h2{
    margin: 20px;
}
body {
    margin: 10px;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #666;
    background: #f2f2f2;
    background-image: url("https://wwwhatsnew.com/wp-content/uploads/2020/01/Los-mejores-sitios-web-para-aficionados-al-anime-1.jpg");
}

h1 {
    font-size: 2.3em;
    line-height: 1.3em;
    margin: 15px 0;
    text-align: center;
    font-weight: 300;
}
#main-header {
    background: #333;
    color: white;
    height: 90px;
}
#main-header a {
    color: white;
}
#logo {
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
}
#logo:hover {
    color: #0b76a6;
}

#logo.site-name {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
}

#logo.site-desc {
    display: block;
    font-weight: 300;
    font-size: 0.8em;
    color: #999;
}
nav {
    float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
}

nav ul li a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
}

nav ul li a:hover {
    background: #0b76a6;
}
#content {
    background: white;
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

#content header,
#content .content {
    padding: 40px;
}

